:focus, :focus-visible, *[data-focus] {
  box-shadow: none !important;
  outline: none !important;
  border-color: inherit !important;
}
.hideScroll {
  background-color: rgb(255, 255, 255);
  overflow-y: scroll !important;
  
}

.myCustomKeyField input{
  background-color: white;
}

.hideScroll::-webkit-scrollbar {
  background-color: #fff0 !important;
}
.myCustomLayout {
  height: 100%;
}

.myCustomLayout > div{
  height: 50%;
}

.myCustomLayout > div > div{
  border-radius: .75rem;
  /* outline: 1px solid rgb(196, 196, 196); */
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(43, 89, 109, 0.32) 0px 2px 16px 0px;
}

.myCustomInput input{
  box-shadow: 1px 1px 1px 1px rgba(119, 119, 119, 0.541) inset;
  background-color: rgb(240, 240, 240);
  outline: none;
}