.myCustomKeyField input{
  background-color: rgba(149, 197, 255, 0.507);
  border-bottom: 1px solid rgb(95, 107, 124);
}

.sapMLIBFocusable:focus{
  outline: none;
}

.sapMInputBaseInner:not(.sapMInputBaseReadonlyWrapper):not(.sapMInputBaseContentWrapperState):focus {
  outline: none;
}